:root {
    --color-one: #E03B24;
    --color-two: #E07D24;
    --color-three: #E15D24;
    --color-four: #E02444;
    --color-five: #E09B24;
    --color-six: #E0916F;
}

*{
    margin: 0;
    padding: 0;
}

.main-header{
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color-one);
    color: white;
    justify-content: space-between;
    padding: 4rem;
    font-family: "Poppins", sans-serif;
    align-items: center;
}

.main-header-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.main-header-search img{
    position: absolute;
    transform: translateY(0.6rem);
    margin-left: 10px;
}

.header-search-input{
    display: flex;
    color: var(--color-one);
    height: 3rem;
    width: 40rem;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
    padding-left: 3rem;
    font-size: 18px;
    transition: 100ms ease-in-out;
}

.header-search-input:focus{
    outline: 2px solid var(--color-three);
}


.main-header-items{
    display: flex;
    align-items: center;
}

.main-header-items ul li img{
    width: 30px;
}

.main-header-items ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.main-header-items ul li{
    display: flex;
    font-size: 0.5rem;
}

.main-header-items ul li {
    padding: 0.8rem;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    font-size: 1rem;
}

.main-header-items ul li:hover{
    background-color: var(--color-one);
    cursor: pointer;
}